* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global Rules */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Global Rules */
/* Global Variables */
:root {
  --main-transition: 0.3s;
}
/* Global Variables */
/* Start First Page -1- */
/* Start Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #321a4c;
  color: white;
  padding: 10px 0;
}
header .title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 40px;
}
header .title .first-letter {
  color: #eb1f7e;
}
header .title span:last-of-type {
  color: #c91159;
  text-transform: lowercase;
  font-size: 25px;
}
header .right {
  display: flex;
}
header .right .message {
  width: 35px;
  height: 35px;
  background-color: #ffff;
  border-radius: 50%;
}
header .right .log-in {
  font-size: 25px;
  cursor: pointer;
  margin-right: 15px;
  transition: color var(--main-transition);
}
header .right .log-in:hover {
  color: rgb(225 197 255 / 50%);
}
/* End Header */
/* Start Nav */
.nav {
  background-color: #735384;
  width: 18%;
  height: calc(100% - 56px);
  position: absolute;
}
.nav .profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 10% 0 0 15%;
  position: relative;
}
.nav ul {
  margin-top: 80px;
  color: #fffffd;
  font-size: 25px;
}
.nav ul li {
  margin-left: 8%;
  transition: background-color var(--main-transition),
    padding var(--main-transition);
  position: relative;
  padding-left: 12%;
  width: 92%;
  margin-top: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
/* For Seleted Page */
.li-active {
  background-color: #ffb27a;
}
.nav ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fffffd;
  left: 0%;
  top: 46%;
  transform: translateY(-50%);
  transition: margin var(--main-transition);
}
.nav ul li:hover {
  background-color: #ffb27a;
  padding-left: 15%;
}
.nav ul li:hover::before {
  margin-left: 3%;
}
.nav ul li a {
  color: #ffffff;
}
.nav .support {
  margin-left: 8%;
  transition: background-color var(--main-transition),
    padding var(--main-transition);
  position: relative;
  padding-left: 12%;
  width: 92%;
  margin-top: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fffffd;
  font-size: 25px;
  cursor: pointer;
}
.nav .support::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fffffd;
  left: 0%;
  top: 46%;
  transform: translateY(-50%);
  transition: margin var(--main-transition);
}
.nav .support:hover {
  background-color: #ffb27a;
  padding-left: 15%;
}
.nav .support:hover::before {
  margin-left: 3%;
}
/* End Nav */
/* Start Info */
.info {
  width: 78%;
  display: grid;
  margin-left: 20%;
  margin-top: 3%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.info .box {
  border-radius: 20px;
}
.info .box:first-of-type {
  background-color: #ffb27a;
}
.info .box:nth-child(2) {
  background-color: #fd7c5d;
}
.info .box:nth-child(3) {
  background-color: #f6aa9a;
}
.info .box:last-of-type {
  background-color: #735384;
}
.info .box .head {
  color: #31194d;
  font-size: 40px;
  font-weight: bold;
  font-family: system-ui;
  padding: 5px 10px 0px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info .box .head span {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  display: inherit;
}
.info .box .bottom {
  margin-bottom: 10px;
  margin-top: 15px;
  padding-left: 15px;
  color: #ffffff;
  font-size: 15px;
}
/* End Info */
/* End First Page -1- */

/* Start Second Page -2- (Reservation) */
.table {
  width: 78%;
  margin-left: 20%;
  margin-top: 10%;
  border: 1px solid #8b8883;
}
.table .head {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #8b8883;
}
.table .one,
.table .two,
.table .three,
.table .four {
  display: flex;
  width: 25%;
  justify-content: center;
}
.table .one {
  justify-content: space-between;
  padding-left: 5px;
}
.table .two {
}
.table .three {
  justify-content: space-between;
}
.table .four {
  justify-content: flex-end;
  padding-right: 25px;
}
.table .four .action {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  z-index: 10;
  transition: color var(--main-transition);
  cursor: pointer;
}
.table .four .action:hover {
  background-color: rgb(103, 218, 103);
}
.table .data {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #8b8883;
}
.table .data:last-of-type {
  border-bottom: none;
}
.table .data button {
  background: transparent;
  border: none;
  color: rgb(126, 38, 38);
  margin-left: 10px;
  cursor: pointer;
  transition: color var(--main-transition);
}
.table .data button:hover {
  background: transparent;
  border: none;
  color: red;
  margin-left: 10px;
  cursor: pointer;
}
.closed {
  visibility: hidden;
}
.table form {
  position: absolute;
  right: 8%;
  background-color: #cccccc;
  padding: 5px;
  border-radius: 5px;
}
.table .data form input[type="checkbox"]{
  width: 1.15em;
  height: 1.15em;
  border: 1.15em solid green;
  margin-right: 5px;
}
/* End Second Page -2- (Reservation) */

/* Start Third Page -3- (Salon) */
.name-of-service {
  
}
.name-of-service .top,
.name-of-service .bottom {

}
.name-of-service .top div,
.name-of-service .bottom div {

}
/* End Third Page -3- (Salon) */